{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "id": "faq-section",
      "type": "text",
      "label": "FAQ Blocks",
      "default": "FAQs"
    }
  ],
  "blocks": [
    {
      "name": "FAQ Entry",
      "type": "select",
      "settings": [
        {
          "id": "faqQuestion",
          "type": "textarea",
          "label": "FAQ Question"
        },
        {
          "id": "faqAnswer",
          "type": "textarea",
          "label": "FAQ Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs",
      "category": "Text"
    }
  ]
}
{% endschema %}

<section class="faq-section__wrapper">
  <h2>FAQs</h2>
  {% for block in section.blocks %}
    <div class="faq-entry" data-collapsed="true" role="button" aria-pressed="false" aria-expanded="false" tabindex="0">
      <div class="faq-question">
        <div class="faq-question__text-wrapper">
          <span class="faq-question__text">{{ block.settings.faqQuestion }}</span>
        </div>
        <div class="faq-question__expand-icon"></div>
      </div>
      <div class="faq-answer__text-wrapper">
        <p class="faq-answer__text">{{ block.settings.faqAnswer }}</p>
      </div>
    </div>
  {% endfor %}
</section>