@use "../assets/theme";

$tan-grey: rgba(51, 50, 50, 0.2);
$footer-grey: #f6f6f6;

.faq-section__wrapper {
  display: flex;
  flex-direction: column;

  padding: 55px;

  @include theme.media-query("small") {
    padding: 15px;
  }

  @include theme.media-query("medium") {
    padding: 35px;
  }
}

.faq-entry {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $tan-grey;
  padding: 0;
  text-align: left;

  &:first-child {
    border-top: 1px solid $tan-grey;
  }

  &[data-collapsed="false"] .faq-question__expand-icon {
    transform: rotate(-90deg);
  }
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;

  cursor: pointer;
}

.faq-question__text:before {
  content: "Q: ";
  margin-right: 5px;
  opacity: 0.8;
}

.faq-question__expand-icon {
  max-width: 0;
  max-height: 0;
  border: 10px solid $tan-grey;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;

  transform-origin: 75% 50%;
  transform: rotate(0);

  transition-property: transform;
  transition-duration: 0.33s;
  transition-timing-function: ease-in-out;
}

.faq-answer__text-wrapper {
  height: auto;
  overflow: hidden;

  background-color: $footer-grey;

  transition-property: height;
  transition-duration: 0.33s;
  transition-timing-function: ease-in-out;
}

.faq-answer__text {
  padding: 15px;

  &:before {
    content: "A: ";
    opacity: 0.8;
    font-weight: bold;
  }
}
